@model BankAggregator.Web.ViewModels.ProfileModel
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pažangi | Home :: Team 4</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>


    <!-- css files -->
    <link href="~/Content/Index/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/Content/Index/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="~/Content/Index/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>


    <!-- //header -->
    <header class="py-4">
        <div class="container">
            <div id="logo">
                <h1> <a class="navbar-brand" href="index.html"><img src="~/Content/Index/images/pazangi logo.png" style="max-width: 10%;" /> Pažangi </a></h1>
            </div>
            <!-- nav -->
            <div class="clear"></div>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <div class="container">
            <div class="row banner-text">
                <div class="slider-info col-lg-6">
                    <div class="banner-info-grid mt-lg-5" style="margin-bottom: 3rem !important;">
                        <h2>Earn it, spend it, </h2>
                        <h2>We track it.</h2>
                    </div>
                    <a class="btn mr-2 text-capitalize" href="#popup3">Try Now</a>
                </div>
                <div class="col-lg-6 col-md-8 mt-lg-0 mt-sm-5 mt-3 banner-image text-lg-center">
                    <img src="~/Content/Index/images/Pazangi home.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- copyright -->
    <div class="copy-right-top border-top">
        <p class="copy-right text-center py-4">
            &copy; 2019 Pazangi. All Rights Reserved | Design by
            <a href="#"> Team Pazangi</a>
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->
    <!-- popup -->
    <div id="popup1" class="popup-effect">
        <div class="popup">
            <img src="images/banner.png" alt="Popup Image" class="img-fluid" />
            <p class="mt-4 ">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
                sunt explicabo.
            </p>
            <a class="close" href="#">&times;</a>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup
    <div id="popup2" class="popup-effect">
        <div class="popup">
            <iframe src="https://player.vimeo.com/video/188673754"></iframe>
            <p class="mt-4 ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
                sunt explicabo.</p>
            <a class="close" href="#">&times;</a>
        </div>
    </div> -->
    <!-- //popup -->
    <!-- popup for login -->
    <div id="popup3" class="popup-effect">
        <div class="popup">
            <div class="login px-sm-4 mx-auto mw-100">
                <h5 class="text-center mb-4">Login to Pažangi </h5>
                <form asp-action="login">
                    <div class="form-group">
                        <label class="mb-2">Email address</label>
                        <input asp-for="@Model.LoginModel.Email" type="email" class="form-control" placeholder="" required="">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Password</label>
                        <input asp-for="@Model.LoginModel.Password" type="password" class="form-control" placeholder="" required="">
                    </div>
                    <button type="submit" class="btn btn-primary submit mt-2">Login</button>
                    <p class="text-center mt-2">
                        <a href="#popup4"> Don't have an account?</a>
                    </p>
                </form>
            </div>

            <a class="close" href="#">&times;</a>
        </div>
    </div>
    <!-- //popup for login -->
    <!-- popup for register -->
    <div id="popup4" class="popup-effect">
        <div class="popup">
            <div class="login px-sm-4 mx-auto mw-100">
                <h5 class="text-center mb-4">Register Now</h5>
                <form asp-action="register">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input asp-for="@Model.RegisterModel.FullName" type="text" class="form-control" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input asp-for="@Model.RegisterModel.Email" type="email" class="form-control" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Phone Number</label>
                        <input asp-for="@Model.RegisterModel.PhoneNumber" type="tel" class="form-control" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Password</label>
                        <input asp-for="@Model.RegisterModel.Password" type="password" class="form-control" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input asp-for="@Model.RegisterModel.ConfirmPassword" type="password" class="form-control" placeholder="" required="">
                    </div>

                    <button type="submit" class="btn btn-primary submit">Register</button>
                    <p class="text-center mt-3">
                        <a href="#">By clicking Register, I agree to your terms</a>
                    </p>
                </form>
            </div>
            <a class="close" href="#">&times;</a>
        </div>
    </div>
    <!-- //popup for register -->




</body>
</html>